{% extends 'base.html.twig' %}

{% block title %}View Product{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
        <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">View product offer</h1>
        <h2>Title: {{ productOffer.title }}</h2>
        <p>Description: {{ productOffer.description }}</p>
        <p>Price: {{ productOffer.price }}</p>
        <a class="btn btn-outline-primary float-left" href="{{ path('edit_product_offer', { id: productOffer.id}) }}" role="button">edit</a>
</div>
{% endblock %}