<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Homepage - {% endblock %}</title>
    {% block stylesheets %}
        {% include('partial/stylesheets.html.twig') %}
    {% endblock %}
</head>

<div class="container">
    <div class="container mt-5 mb-5">
        {% include('partial/flash-message.html.twig') %}
    </div>

    <div class="container">
        {% if is_granted("ROLE_USER") %}
            {% include("partial/menu/menu-logged.html.twig") %}
        {% else %}
            {% include("partial/menu/menu-not-logged-in.html.twig") %}
        {% endif %}
    </div>

</div>
<body>

{% block content %}{% endblock %}

{% block javascripts %}
    {% include('partial/javascripts.html.twig') %}
{% endblock %}
</body>
<div class="container">
    <footer>
        <div class="text-center">&copy; {{ 'now'|date('Y') }} • All rights reserved</div>
    </footer>
</div>
</html>