{% extends 'base.html.twig' %}
{% block title %}Remember password{% endblock %}
{% block content %}

    <div class="container-xl px-4 mt-4">
        {% include('user/nav.html.twig') %}
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-lg-8">

                <div class="card mb-4">
                    <div class="card-header">Remember Password</div>
                    <div class="card-body">
                        {{ form_start(rememberPasswordForm, enctype='multipart/form-data', {"attr": {"novalidate": "novalidate"}} ) }}
                        {{ form_widget(rememberPasswordForm) }}

                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save" aria-hidden="true"></i> Remember password
                        </button>
                        {{ form_end(rememberPasswordForm) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="card mb-4">
                    <div class="card-header">Delete Account</div>
                    <div class="card-body">
                        <p>Deleting your account is a permanent action and cannot be undone.</p>
                        <button class="btn btn-danger" type="button">Delete my account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}